@import url("https://rsms.me/inter/inter.css");

* {
	font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
	* {
		font-family: "Inter var", sans-serif;
	}
}

body {
	font-family: sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: #0e1112; */
	color: #ddd;
}